<body  style="background-color:#lightgrey;" class="panel panel-body" >
 <div ng-controller="addproductctrl">
<div class="panel panel-info">

    <div class="panel-heading">New Product</div>
  </div>
  <br>
<form  class="col-md-8"  name="form1"  >
    Product Name: <input type="text" name="product" class="form-control"
				ng-model="product.productName"  ng-required="true"/>
	<span style="color:red" ng-show="form1.product.$dirty && form1.product.$error.required">productname is Required
  </span>
  <br /> 
				
		Quantity: <input
				type="number" name="quantity" class="form-control" ng-model="product.quantity" ng-required="true"/><br />
		<span style="color:red" ng-show="form1.quantity.$dirty && 
		form1.quantity.$error.required">Quantity is Required
  </span>
		Price: <input type="number" name="price" class="form-control"
				ng-model="product.productPrice"  ng-required="true"/><br />
				<span style="color:red" ng-show="form1.price.$dirty && 
		form1.price.$error.required">price is Required
  </span> 
				
			 Category: <select class="form-control" ng-model="product.category.categoryName">
       
<option  ng-repeat="cat in categories" value="{{cat.categoryName}}">{{cat.categoryName}}
</option>
        </select>
        <p>
        <a href="#category">
          <span class="glyphicon glyphicon-plus"></span>Add Category
        </a>
      </p>  
        <br>
			
		 Brand: <select class="form-control" ng-model="product.brand.brandName">
 <option  ng-repeat="brand in brands" value="{{brand.brandName}}">{{brand.brandName}}
     </option>
        </select> 
         <p>
        <a href="#brand">
          <span class="glyphicon glyphicon-plus"></span>Add Brand
        </a>
      </p>  
         <br>
         
         
      <!--   Select Image:  <input type="file" file-model="myFile" ng-model="product.image" class="btn btn-success"/>
   <button  class="btn btn-success" ng-click="uploadFile()">Upload</button> 
    <br><br> -->
    
     Select Image:  <input id="inputFileToLoad" type="file"  class="btn btn-success"/>
   <button  class="btn btn-success" ng-click="loadImageFileAsURL()">Upload</button> 
    <br><br>
    
<!--     Select Thumbnail: <input type="file" file-model="myFile" class="btn btn-success"/>
   <button  class="btn btn-success" ng-click="uploadFile()">Upload</button> 
    <br><br> -->
    
    
            <input ng-disabled="form1.$invalid"  style="position:relative; left:50px" 
         class="btn btn-primary" value="save" ng-click="saveproduct()"/> 
     
          
         <!--  <button type="button" class="btn btn-default" >Cancel</button>
       -->
  
</form>
  
  <br>


</div>
</div>
</div>
</body>